					
/** the solution for firefox(zoom) **/

@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-weight: 400;
  src: url(../webfonts/Bevan-Regular.ttf);
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url(../webfonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url(../webfonts/PTSerif-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../webfonts/Roboto-Regular.ttf);
}


@-moz-document url-prefix() {
  
  body{
    font-family: 'Roboto', sans-serif!important;
  }

  #browser{
    display: none;
  }
  .container{
	padding-left: 0!important;
	padding-right: 0!important;
  }

  #eq > .col-md-6{
	height: 980px!important;
	}

  #sz{
  	height: 400px!important;
  }

  #myModal{
  	transform: scale(1.6);
  	transform-origin: 50% 0;
  }

  #sd p{
  	font-size: 17px!important;
  }

  #sd a{
  	font-size: 20px!important;
  }

  .disc h3{
     font-size: 20px!important;
  }

  .disc h3 strong {
     font-size: 20px!important;
  }

  h2#movie-desc{
  	font-size: 23px!important;
  }

  .page-header h1{
  	font-size: 26px!important;
  }
  
  #mennu li a{
    font-size: 25px!important;
  }


}
					/*------- general -------*/

*{
	zoom: 93.6%!important;
	font-size: 106%;
}




img{
	opacity: 100%;
	width: 100%;
	height: auto;
}

img:hover{
	opacity: 80%!important;
}


				  /*-------  header -------*/
.mid{
	margin-top: 9px;
}

.navbar{
	background-color: #fff !important; 
}

.navbar-default .navbar-brand {
    font-family: 'Bevan', cursive!important;
    font-size: 29px !important; 
	font-color: #000!important;
	top: 1px!important;
}

.navbar-default .navbar-nav>li>a {
    font-size: 20px!important;
}

.form-group{
	margin-top: 3px;
}

.navbar-form input[type="text"]{
	border-radius: 25px !important;
	-webkit-border-radius: 25px !important;
	-moz-border-radius: 25px !important; 
	height: 33px;
	width: 100%;
	background: aliceblue;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
}

.form-control{
	font-size: 19px!important;
}



.navbar-form button[type="submit"]{
	border-radius: 44px !important;
	-webkit-border-radius: 44px !important;
	-moz-border-radius: 44px !important; 
	height: 33px!important;
	outline: none!important;
	cursor: pointer;
	font-weight: bold;
	margin-top: 1px;

}

.navbar-right > li > a{
	width: 49px!important;
}

.fab,
.fas{
	font-size: 35px;
}





						/*-------- jumbotron --------*/
.jumbotron{
	background: rgba(358, 244, 461, 5.3) !important;
}

.jumbotron h1 {
    font-size: 60px!important;
}


.jumbotron h2{
	margin-top: 15px;
	padding-bottom: -60px;
}

.telegram{
	width: 75px;
	height: 75px;
}

.second{
	margin-top: 40px;
}

.inside{
	padding-top: 10%!important;
}


#sz{
	height: 542px;
	display: block;
}

#eq > .col-md-6{
	height: 900px;
}

#eq h2 {
	text-align: center;
}
#phoneicons a{
	font-size: 25px!important;
	margin-left: 10px;
	color: #000;
}
#phoneicons a:nth-child(1){
	margin-left: 0;
}

#languages a{
	font-size: 26px!important;
	margin-left: 13px;
	font-family: Tahoma;
	color: #000;
}

#languages a:hover{
	font-weight: bold;
	text-decoration: none;
}

#languages{
	height: 20px!important;
	padding-top: 31px;
	margin-top: -20px;
	text-align: right;
}

#languages a:nth-child(1){
	margin-left: 0;
}



						/*--------- sidebar  -------*/

.sidebar-module{
	margin-top: 35px;
}

.sidebar-module p{
	font-weight: normal;
	font-size: 20px;
}

.sidebar-module:nth-child(1){
	margin-top: -20px;
}

.sidebar-module h3{
	font-weight: bold !important;
}

.sidebar-module a{
	font-weight: normal!important;
	font-size: 24px;
}
.sidebar-module a:hover{
	color: #000!important;
	font-weight: bold!important;
	text-decoration: none;
}



						/*------- detail.html  ---------*/
.btn-block{
	font-size: 29px!important;
	border: none!important;
	font-weight: bold!important;
}
.watch{
	height: 60px;
}
.watch a{
	font-size: 40px!important;
}


						/*---------- movies ---------*/
#br h2{
	font-size: 34px;
}

#title{
	margin-left: 20px;
}
#wrpbr{
	margin-top: 15px;
}
#br{
	margin-top: 50px;
	padding-bottom: 15px!important;
	padding-left: 100px!important;
	line-height: 5px;
}
#br:nth-child(1){
	margin-top: -40px;
}
#br:last-child{
	border: none!important;
}
#br a{
	color: blue;
}
.disc h3{
	font-size: 28px;
}
.disc h3 strong{
	font-size: 29px;
}

#mennu a{
	font-size: 34px!important;
}




					/*--------- pagination ---------*/

.pager{
	font-size: 19px;
}

					/********** telegram ************/

#telegramblock{
	padding: 0 200px!important;
	zoom: 90%!important;
}

#telegramblock h1 h2 h3 h4 h5 h6{
	text-align: center;
}



#telegramblock h2{
	font-size: 32px;
}


#imgwrp{
	margin: 0 auto; 
	height: 670px; 
	width: 320px;
}

#imgwrp > img:hover,
#exception > img:hover{
	opacity: 95%!important;
}

#telegram-info{
	font-size: 26px;
	text-align: justify;
	font-family: Tahoma;
	line-height: 32px;
}
#limitless{
	height: 650px;
}
/*
#desctiptor{
	height: 425px;
}

*/

#turl label{
	font-weight: normal;
}

.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
	height: 48px !important;
}
				/*---------- email ------------*/


.all-inner{
	text-align: center;
	margin-top: 110px;
}


.all-inner a{
	color: dimgrey;
	font-size: 70px;
	padding: 5px 5px;
	font-family: 'Dancing Script', cursive;
}
.all-inner a:hover{
	color: #000;
	text-decoration: none;
}

.all-inner p{
	font-size: 23px;
}


					/*------------ btc --------------*/

#imgwrp2{
	margin: 0 auto; 
	height: 275px; 
	width: 320px;
}


#imgwrp2 > img:hover{
	opacity: 100%!important;
}

#adress{
	color:#000;
	text-align: center!important;
	display: block;
	font-size: 32px;
}

.center{
	display: block; 
	margin: 20px auto; 
	text-align: center;
}

				/*----------- search -------------*/
#searchpart{
	margin-top: 50px;
	zoom: 88%!important;
}

#searchpart h4{
	color: grey;
}

#searchpart a{
	color:#093ABC!important;
	background-color: transparent;
	cursor: pointer;
	font-size: 29px;
}
#searchpart a:hover{
	color:#000;
	font-weight: bold;
}
#searchpart p{
	margin: 0 0 10px;
	font-size: 20px;
	color: #333333;
}

#component{
	padding: 0 50px;
}

#more a{
	color: #093A41!important;
	text-decoration: none!important;
}




/*Small devices (landscape phones, 576px and up)*/

@media only screen and (max-width: 576px) {
	
	footer{
		text-align: center!important;
	}


	body{
		font-family: 'PT Serif', serif!important;
	}
	
	.jumbotron strong{
		font-size: 67px!important;
	}

	.navbar-nav > li > a {
    	text-align: center!important;
	}

	.nav > li:hover{
		background: azure!important;
	}

	*{
		zoom: 94%!important;
	}

	.navbar-form input[type="text"]{
		width: 90%;
		height: 31px!important;
		margin: 0 auto;
	}
	
	.navbar-form button[type="submit"]{
		margin-left: 25px!important;
		width: 90%;
		height: 30px;
		margin-top: 4px;
	}

	.jumbotron{
		margin-top: -30px;
		text-align: center;
		height: 340px;	
	}

	.jumbotron h2{
		font-size: 27px!important;
	}

	.jumbotron strong{
		font-size: 82px!important;
	}
	.sidebar-module{
		margin-top: 30px!important;
	}
/*pictures */
	#sz, #xz{
		height: 600px;
		width: 430px!important;
		margin: 0 auto;
	}

	#eq{
		margin-top: 50px;
	}

	#eq > .col-md-6{
	 	height: 950px;
	}


	#eq h2{
		font-size: 40px; 
	}

	.inside{
		font-size: 24px;
		text-align: justify;
	}


	#more{
		width: 100%;
	}

	#mm{
		text-align: center!important;
	}

	#mm h3{
		font-size: 37px;
	}

	#mm a{
		margin-left: 15px;
	    	font-size: 29px!important;
	}
	#mm ol li{
		display: inline-block!important;
	}
	#gm{display: none;}

	#mobile-menu a:hover {
		background: #E0FFFF!important;
	}

	.col-xs-6 h2{
		font-size: 25px!important;
	}

	.col-xs-6 p{
		font-size: 25px!important;
	}

	#title{
		text-align: center;
	}
	.disc h3{
		font-size: 27px!important;
		padding: 0 5px;
	}

	img:hover{
		opacity: none;
	}

	#br{
		padding: 0 20px!important;
	}
	#br h2{
		font-size: 35px;
	}
	#telegramblock{
		padding: 0!important;
	}
	#telegram-info{
		font-size: 25px;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}

	#limitless{
		height: 500px!important;
	}
	#adress{
		font-size: 20px;
	}
	.all-inner{
		margin-top: 20px;
	}

	.all-inner a{
		font-size: 35px;
		padding: 0!important;
	}

	#component{
		padding: 0 0;
	}
	
	#movie-desc,
	#movie-desc1,
	#movie-desc2,
	#movie-desc3,
	#movie-desc4,
	#movie-desc5,
	#movie-desc6,
	#movie-desc7,
	#movie-desc8,
	#movie-desc9,
	#movie-desc10,
	#full,
	#full1,
	#full2,
	#full3,
	#full4,
	#full5,
	#full6,
	#full7,
	#full8,
	#full9,
	#full10{
		text-align: justify!important;
	}

	#languages{
		text-align: center!important;
	}
	
	#languages a{
		font-size: 28px!important;
		color: blue;
	}	
	
}	

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.navbar-form{
		display:none!important;
	}

	#component{
		padding: 0 0;
	}


}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.navbar-default .navbar-brand {
    	font-family: 'Bevan', cursive!important;
		font-size: 150%!important; 
	}

	#component{
		padding: 0 0;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
