{% extends "base.html" %}
{% load static i18n %}
{% block description %}{% trans "Ваше пожертвование поможет нам продолжать разработку Moviegram как свободной платформы для поиска и просмотра фильмов. Только благодаря вашей поддержке мы сможем продолжать предоставлять доступ к Moviegram людям со всего мира." %} {% endblock %}
{% block content %}
<div class="container">
<div id="telegramblock">
<br/>
<br/>
<div id="imgwrp2">
<img src="{% static 'img/btc.jpeg' %}">
</div>
<br />
<h3 class="text-center">{% trans "Поддержите нас" %}</h3>
<div class="center">
<button onclick="wallet('zs108l4rpyv7vvzqcwq7kd3fx8z647wxvvxzkmxvmxgklkwysctwxjsdar6xytjqsz8ujnecuhae34')" class="btn btn-default btn-lg" style="margin-left:0;width:150px">Zcash</button>
<button onclick="wallet('439JS4wU7AjQAdsZu9ZKNtG4CNeCh4nKJHk4uXRDzLVLK5G1XMxEizjUhR7vtz2Gqmi2a3jGcnWJs4J4HAM4wpkLLDxDkL5')"class="btn btn-default btn-lg" style="margin-left:20px;width:150px">Monero</button>
</div>
<a target="_blank" href="https://bitcoin.org/ru/" class="text-center" id="adress">1dGggQBGDvyQ1p61vQ4bwk54YQRWcYDZc</a>
<br/>
<p id="telegram-info">{% trans "Ваше пожертвование поможет нам продолжать разработку Moviegram как свободной платформы для поиска и просмотра фильмов. Только благодаря вашей поддержке мы сможем продолжать предоставлять доступ к Moviegram людям со всего мира." %}</p>
</div>
{% endblock %}
