{% extends "base.html" %}
{% block title %}{{ category.name }} {% endblock %}

{% load static i18n %}

{% block content %}

	
   <!-- second part -->
     <div class="container second">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <div class="jumbotron hidden-md hidden-sm hidden-lg hidden-xs">
            <h1><strong>Фильмы в Telegram <img class = "telegram" src = "{% static 'img/logo.png'%}"/></strong></h1>
            <h2>Смотрите и скачивайте фильмы в Telegram вместе с Moviegram...</h2>
          </div>

          <form class="navbar-form hidden-md hidden-sm hidden-lg hidden-xs">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Поиск...">
            </div>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>

          <div class="row" id="eq" style="margin-top:-26px;">
          
          <div id = "mm" class="hidden-lg hidden-md hidden-sm visible-xs clearfix">
             <h3 id="gt" class="bnt btn-info" style="margin-top: -25px!important;">{% trans "Жанры" %}</h3>
             <ol id="gm" class="list-unstyled">
             {% for g in genres %}
                 <li><a href="{% url 'genremovies' g.url %}" rel="nofollow">{{ g.name }}</a></li>
             {% endfor %}  
            </ol>
         </div><!-- mm -->
	<br />

	  {% if movies.has_previous %}
            <a style ="display: block; text-decoration: none; text-align: center;" href="?page={{ movies.previous_page_number }}"><i style="font-size: 30px;"class="glyphicon glyphicon-menu-up"></i></a>
          {% endif %}
          

          {% for a in movies %} 

            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-4 infinite-item">
              
              <h2>{{ a.title }}</h2>
              <a href = "{% url 'detail' a.id %}"><img id="sz" src = "{{a.poster.url}}" alt="{{ a.title }}" id ="transperent" class = "img-thumbnail"/></a>
              
              <p class = "inside">{{a.ShortenText}}...</p>
              
              <p><a class="btn btn-lg btn-default" id="more" href="{% url 'detail' a.id %}" role="button">{% trans "Смотреть" %}&raquo;</a></p>
            
            </div><!--/.col-xs-6.col-lg-4-->
          {% endfor %}

          {% if movies.has_next %}
            <a style ="display: block; text-decoration: none;" href="?page={{ movies.next_page_number }}"><button type="button" id="stb" class="btn btn-block" >{% trans "Больше"%}</button></a>
          {% endif %}

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->


    {% include 'sidebar.html' %}

<hr />


{% endblock %}

{% block footer %}
      <footer>
        <p>&copy; 2020 Moviegram</p>
      </footer>
{% endblock %}
