{% extends "base.html" %}
{% load static i18n %}
{% block title %} {{movie.title}} {% endblock %}
{% block description %} {{ movie.MetaDescription }}{% endblock %}

{% block content %}

<!-- second part -->
     <div class="container second">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          
          <div class="row" style = "margin-top:-49px!important;">
            

          {% if movies.count > 1 %}

          <div class = "col-lg-11">
              <div class="page-header" style="border-bottom: none;">
                  <h1><strong>{{ movie.short_title }}</strong></h1>
                  <ul class="nav nav-tabs" role="tablist" id="mennu">
            
                    {%for x in movies %}
                      <li role="presentation"><a href="#home{{forloop.counter}}" aria-controls="home{{forloop.counter}}" role="tab" data-toggle="tab">{{ forloop.counter }} {% trans "часть" %}</a></li>
                  {% endfor %}
                  </ul>
              </div><!-- page-header -->

          

          <div class="tab-content">
            {% for i in movies %}
              <div role="tabpanel" class="tab-pane{% if i.title == movie.title %} active in {% endif %}" id="home{{forloop.counter}}">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="{{ i.youtube }}" frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
                <a target="_blank" href="{{ i.telegram }}" class="btn btn-lg btn-primary btn-block watch">{% trans "Смотреть" %}</a>
                <h2 id="movie-desc" style="font-size:28px;">{{ i.description }}</h2>
                <p style = "margin-top: 20px; font-size: 29px; font-weight:bold;">{% trans "Подробнее о" %} <a target="_blank" href="{{ i.wikipedia }}">{{ i.title }} </a> {% trans "вы можете узнать здесь..." %}</p>
              </div>
           
           {% endfor %}

          </div><!-- tab-content -->
         </div><!-- 11 -->

          
           
          
          {% else %}


          <div class = "col-lg-11">
              <div class="page-header">
                <h1><strong>{{ movie.title }}</strong></h1>
              </div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="{{ movie.youtube }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <br>
            <a target="_blank" href="{{ movie.telegram }}" class="btn btn-lg btn-primary btn-block watch">{% trans "Смотреть" %}</a>
            <h2 id="movie-desc" style="font-size: 28px;">{{ movie.description }}</h2>
            {% if movie.wikipedia %}
	    <p style = "margin-top: 20px; font-size: 29px; font-weight:bold;">{% trans "Подробнее о" %}<a target="_blank" href="{{ movie.wikipedia }}">{{ movie.title }} </a>{% trans "вы можете узнать здесь..." %}</p>
            {% else %}
	    
	    {% endif %}  

	</div><!-- 11 --> 


           {% endif %}





          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
         
         {% include 'sidebar.html' %}
               


{% endblock %}

{% block footer %}
   <div class = "container text-center hidden-lg hidden-md hidden-sm hidden-xs">
      <footer>
        <p>&copy; 2020 Moviegram, Inc.</p>
      </footer>
  </div>
{% endblock %}
