{% extends "base.html" %}
{% load static i18n %}
{% block title %} {{movie.title}} {% endblock %}
{% block description %} {{ movie.MetaDescription }}{% endblock %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

<!-- second part -->
     <div class="container second">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          
          <div class="row" style = "margin-top:-49px!important;">
            

          {% if movies.count > 1 %}

          <div class = "col-lg-11">
              <div class="page-header" style="border-bottom: none;">
                  <h1><strong>{{ movie.short_title }}</strong></h1>
                  <ul class="nav nav-tabs" role="tablist" id="mennu">
            
                    {%for x in movies %}
                      <li role="presentation"><a href="#home{{forloop.counter}}" aria-controls="home{{forloop.counter}}" role="tab" data-toggle="tab">{{ forloop.counter }} {% trans "часть" %}</a></li>
                  {% endfor %}
                  </ul>
              </div><!-- page-header -->

          

          <div class="tab-content">
            {% for i in movies %}
              <div role="tabpanel" class="tab-pane{% if i.title == movie.title %} active in {% endif %}" id="home{{forloop.counter}}">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="{{ i.youtube }}" frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
                




	      {% if i.online and LANGUAGE_CODE == "ru" %}

                <a target="_blank" href="#" class="btn btn-lg btn-primary btn-block watch" data-toggle="modal" data-target="#myModal{{forloop.counter}}">  
                {% trans "Смотреть" %}</a>

              {% else %}

                <a target="_blank" href="{{ i.telegram }}" class="btn btn-lg btn-primary btn-block watch">  
                {% trans "Смотреть" %}</a>

              {% endif %}
                




	        <h2 id="movie-desc{{forloop.counter}}">{{ i.description | truncatechars:160 }}</h2>
                <h2 id="full{{forloop.counter}}" style="min-height:100px;">{{ i.description | linebreaksbr }}</h2>
		<p style = "margin-top: 20px; font-size: 29px; font-weight:bold;">{% trans "Подробнее о" %} <a target="_blank" href="{{ i.wikipedia }}">{{ i.title }} </a> {% trans "вы можете узнать здесь..." %}</p>
              </div>

	    
              {% if i.online and LANGUAGE_CODE == "ru" %}

              <!-- Modal -->  
                <div class="modal fade" id="myModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="zoom: 190%!important;">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-center" id="myModalLabel">Смотреть</h4>
                          </div>

                          <div class="modal-body">
                            {% if i.wallpaper %}
                              <img src = "{{ i.wallpaper.url }}" style="opacity: 100%!important;">
                            {% endif %}
                          </div>
  
                          <div class="modal-footer" style="text-align: center;">
				<a href = "{{ i.telegram }}" class="btn btn-primary btn-lg">Oфлайн</a>
                                <a href = "{{ i.online }}" class="btn btn-default btn-lg">Онлайн</a>
                          </div>
                          </div>
                      </div>
                  </div>

               {% endif %}
		
           
           {% endfor %}

          </div><!-- tab-content -->
         </div><!-- 11 -->

          
           
          
          {% else %}


          <div class = "col-lg-11">
              <div class="page-header">
                <h1><strong>{{ movie.title }}</strong></h1>
              </div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="{{ movie.youtube }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <br>
            


	    {% if movie.online and LANGUAGE_CODE == "ru" %}

            	<a target="_blank" href="#" class="btn btn-lg btn-primary btn-block watch" data-toggle="modal" data-target="#myModal">{% trans "Смотреть" %}</a>
          
            {% else %}

            	<a target="_blank" href="{{ movie.telegram }}" class="btn btn-lg btn-primary btn-block watch">{% trans "Смотреть" %}</a>

            {% endif %}
            



	    
	    <h2 id="movie-desc">{{ movie.description | truncatechars:160 }}</h2>
            <h2 id="full" style="min-height:100px;">{{ movie.description | linebreaksbr }}</h2>
            
	    {% if movie.wikipedia %}
	    	<p style = "margin-top: 20px; font-size: 29px; font-weight:bold;">{% trans "Подробнее о" %}<a target="_blank" href="{{ movie.wikipedia }}">{{ movie.title }} </a>{% trans "вы можете узнать здесь..." %}</p>
            {% else %}
	    
	    {% endif %}  

	</div><!-- 11 --> 

{% if movie.online and LANGUAGE_CODE == "ru" %}
          
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="zoom: 190%!important;">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-center" id="myModalLabel">Смотреть</h4>
                          </div>

                          <div class="modal-body">
                            {% if movie.wallpaper.url %}
                              <img src="{{ movie.wallpaper.url }}" style="opacity: 100%!important;">
                            {% endif %}
                            
                          </div>
  
                          <div class="modal-footer" style="text-align: center;">
				<a href = "{{ movie.telegram }}" class="btn btn-primary btn-lg">Oфлайн</a>
                                <a href = "{{ movie.online }}" class="btn btn-default btn-lg">Онлайн</a>
                          </div>
                          </div>
                      </div>
                  </div>

      {% endif %}	

	








           {% endif %}





          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
         
         {% include 'sidebar.html' %}
               


{% endblock %}

{% block footer %}
   <div class = "container text-center hidden-lg hidden-md hidden-sm hidden-xs">
      <footer>
        <p>&copy; 2020 Moviegram, Inc.</p>
      </footer>
  </div>
{% endblock %}
